:root {
  --table-color: rgb(185, 185, 185);
}

.main {
  height: 100%;
}

.main__title {
  color: var(--table-color);
  text-transform: uppercase;
}

.main__scroll-table {
  overflow-y: scroll;
}

.main__scroll-table table {
  color: black;
  width: 100%;
  border: none;
}

.main__scroll-table table .header{
  position: relative;
}

.main__scroll-table table .header::after{
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-bottom: 1px solid var(--table-color);
}

.main__scroll-table table .name {
  font-weight: bolder;
}

.main__scroll-table table .progress-bar {
  text-align: right;
}

.main__scroll-table table .posts {
  text-align: right;
}